<!DOCTYPE html>
<html>
  <head>
  	<% include ../partials/header.ejs %>
    <title>Finance app</title>
  </head>
  <body>
  	<% include ../partials/nav.ejs %>
  	<h1 class="header">Finance app</h1>

  	<br><br><br><br><br><br>

  	<form method="get" action="/stock">
	  	<p>Enter stock symbol:</p>
	  	<p><input type="text" name="symbol" autocomplete="off"></p>
	  	<input type="submit" value="Submit">
	</form>


  </body>
</html>
